body {
	margin: 0;
}

.profile {
	margin-top: 50px;
	background-color: aqua;
}

.product {
	margin-top: 50px;
	background-color: yellowgreen;
}

.footer{
	margin-top: 0px;
	background-color: blueviolet;
	color: aliceblue;
	padding-bottom: 20px;
}

.app {
	min-height: 100vh;
}

.app.dark {
	background: #10105d;
	
}

.app.light {
	background: #cca3a3;
}